<div class="mt-4">
    <form action="./news">
  <div class="form-group">
    <label for="exampleInputEmail1">Search</label>
    <input type="text" class="form-control" id="search-input" name="q" aria-describedby="emailHelp" placeholder="Search...">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>